* {
	margin: 0;
	padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #323f38;
  }
  

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.header{
    display: flex;    
   padding: 16px 0 16px 24px;
    background: #18201c;
}

p{
    font-size: 90px;
    line-height: 120%;
    margin-bottom: 60px;
    color: #a2d4a5ea;
   

    
}

.header_container{
    display: flex;
   gap: 150px
  
}



img{
    max-width: 100%;
    width: 300px;
    border-style: none;
  }

  .header_title{
      display: flex;
      flex-direction: column;   
     
  }

  .title {
      font-weight: 500;
      font-size: 40px;
        text-align: center;
      line-height: 110%;
      color: #546E42;
      
  }

  .input-group{
     margin-top: 100px;
     display: flex;
     gap: 30px;
     flex-direction: column;
     justify-content: center;
    align-items: center;
    
  }
  
  #input{
    font-size: 18px;
    border: 2px solid #2e312c;
    color: #c6d4c8;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    width: 400px;
    height: 40px;
    background-color: #46554d;
    text-align: center;  
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  #input:hover{
      background-color: beige;
      color: #2c3a23;

  }
  .search-button{
      font-size: 25px;
      color: #5c6861;
      background-color: transparent;
      border: 2px solid#46554d;
      width: 400px;
      height: 70px;
      border-radius: 1px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;   
  }

  .search-button:hover {
      background-color: #5190b4;
      border: none;
      color: black;
  }

  .hidden{
      display: none;
  }

  .profile-card{
      text-align: center;
  }

  .profile-card img{
      margin-top: 100px;
      width: 400px;
      border-radius: 50%;
  }

  .profile-card a{-----------------
      color: #58a6ff;
      text-decoration: none;
  }

  