* {
	margin: 0;
	padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
  }
  

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.header{
   padding: 31px;
   margin:40px;
    background: #323f38;
}

p{
    font-size: 90px;
    
}

.header_container{
    display: flex;
   gap: 150px
  
}

